
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Exo', sans-serif;
    scroll-behavior: smooth;
}


nav {
    width: 100%;
    height: 128px;
    padding-left: 130px;
    border-bottom: 1px solid #FAFAFA;
}

nav ul {
    width: 757px;
    height: 24px;
    gap: 74px;
    margin-left: 69px;
}

nav ul a {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.92px;
    color: #121212;
}




#section-1 {
    height: 704px;
    width: 100%;
    position: relative;
}

#dots {
    height: 110px;
    width: 8px;
    position: absolute;
    left: 187px;
    top: 116px;
}

#dots div {
    border-radius: 50%;
    background-color: #05B580;
    opacity: .2;
}


#bottom-arrow {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 134px;
    background-color: #05B580;
}


#section-1-div2 {
    position: absolute;
    left: 238px;
    width: 1102px;
    background-repeat: no-repeat;
    height: 704px;
    background-image: url(/src/components/img/Frame.png);
    object-fit: fill;
    background-position: top;
}

#section-1-div2 h3 {
    font-size: 14px;
}

#section-1-div2 h1 {
    font-size: 40px;
}


#section-2 {
    background-color: #E6F4F0;
    position: relative;
    top: 12px;
    left: 100px;
    border-radius: 10px;
    width: 1240px;
    height: 427px;
}

#section-2 h1 {
    color: #121212;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: 220px;
    top: 47px;
}

#section-2 p {
    position: absolute;
    top: 214px;
    left: 220px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
}

#rectangle-9-background {
    position: absolute;
    width: 343px;
    height: 310px;
    top: 234px;
    left: 621px;
    border-radius: 8px;
    border: 1.5px solid #008363;
    z-index: 1;
}

#rectangle-9 {
    position: absolute;
    width: 343px;
    height: 310px;
    top: 220px;
    left: 640px;
    border-radius: 8px;
    background-image: url(/src/components/img/Rectangle9.png);
    z-index: 2;
}

#section-2 button {
    position: absolute;
    width: 137px;
    height: 46px;
    top: 352px;
    left: 220px;
    border: 2px solid #008363;
    color: #008363;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    letter-spacing: 6%;
}


/*=====================================*/

#ellipse7 {
    position: absolute;
    left: 174px;
    top: 153px;
    z-index: 1;
}


#rectangle14 {
    position: absolute;
    left: 215px;
    top: 194px;
    z-index: 2;
}

#group919 {
    position: absolute;
    top: 364px;
    left: 176px;
    z-index: 1;
}

#subtract {
    position: absolute;
    top: 175px;
    left: 488px;
    z-index: 3;
}

#section-3-h1 {
    position: absolute;
    top: 179px;
    left: 743px;
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

#section-3-p-1 {
    width: 504px;
    position: absolute;
    top: 241px;
    left: 743px;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

#section-3-p-2 {
    position: absolute;
    top: 584px;
    left: 215px;
    width: 1031px;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    line-height: 27px;

}

#section-3 button {
    position: absolute;
    width: 137px;
    height: 46px;
    top: 825px;
    left: 218px;
    border-radius: 5px;
    background-color: #008363;
    color: #FFFFFF;
}

#group932 {
    position: absolute;
    top: 912px;
    left: 128px;
}

footer {
    height: 418px;
    background: #008363;
    position: relative;
    top: 1092px;
}

.footer-links a {
    margin-top: 16px;
    font-size: 15px;
}

.footer-links h3 {
    font-size: 16;
    font-weight: 600;
}